/* Global Styles */

body {
    background-color: rgb(235, 230, 218);
}

img {
    max-width: 50%;
}

a {
    color: black
}

a:hover {
    color: white;
    text-decoration: none;
}

/* Mobile Styles */

header {
    background-color: turquoise;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: rgb(235, 230, 218);
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    padding: 10px 0;
    border-top: 1px solid black;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

nav ul a:hover {
    background-color: turquoise;
}

main {
    background-color: rgb(235, 230, 218);
    padding: 20px;
    margin: 10px;
}

footer {
    background-color: rgb(235, 230, 218);
    text-align: center;
    padding: 20px;
    margin: 10px;
}

/* Tablet Styles */

@media screen and (min-width: 760px) {
    
}