body {
    background-color: #722f37;
}

audio, video, table {
    max-width: 100%;
}

/* Mobile Styles */

#container {
    margin: 10px;
    color: #EAD275;
}

header {
    background-image: url(../images/pairings.png);
    background-size: cover;
    background-position: center center;
    height: 250px;
    padding: 10px;
}

header h1 {
    line-height: 280px;
    text-align: center;
    color: #722f37;
    text-shadow: #EAD275 2px 2px 2px;
}

nav {
    background-color: #EAD275;
    padding: 1px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: #EAD275;
    padding: 15px;
    margin-top: 2px;
    color: #722f37;
    font-size: 1.4em;
    text-decoration: none;
}

nav li a:hover {
    background-color: #2F733E;
}

section {
    background-color: #EAD275;
    padding: 20px;
    margin: 5px 0;
}

section h2, section h3 {
    color: #EAD275;
    text-align: center;
}

#audio {
    text-align: center;
}

table {
    width: 100%;
    border: 2px solid #722f37;
}

tr, th, td {
    border: 2px solid #2F733E;
    color: #EAD275;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #EAD275;
    text-align: center;
    color: #2F733E;
    padding: 20px 0;
}

/* Tablet View */
@media only screen and (min-width: 768px) {
       
    header {
        background-image: url(../images/pairings.png);
        background-size: cover;
        background-position: center center;
        height: 500px;
        padding: 10px;
    }
    nav {
        background-color: #EAD275;
        padding: 5px 0;
    }

    nav li {
        display: inline-block;
    }



    nav li a {
        width: 150px;
        border-top: 2px solid #722f37;
        border-bottom: 2px solid #722f37;
    }
}

/* Desktop View */

@media only screen and (min-width: 1024px) {

    #container {
        width: 75%;
        margin: 20px auto;
        border: 6px solid #2F733E;
        color: #722f37;
        padding: 10px 10px;
    }

    header {
        height: 450px;
    }

    header h1 {
        line-height: 525px;
        font-size: 4em;
    }

    nav li a {
        width: 250px;
        margin: 10px;
    }

    section {
        color: #722f37;
        text-align: center;
    }

    section h2, section h3 {
        color: #722f37;
        text-align: center;
    }

    video {
        width: 50%;
    }

    #tables {
        color: #722f37;
    }

    footer {
        font-size: 1.2em;
    }
}