body {
    background-color:rgb(43, 71, 94);
}

img {
    max-width: 100%;
}

a {
    color:  rgb(255, 212, 61);
}

a:hover {
    background-color: rgb(255, 212, 61);
    color: rgb(43, 71, 94);
    text-decoration: none;
}

#container{
    width: 75%;
    margin: 0 auto;
    background-color: white;
    color: rgb(43, 71, 94);
    padding: 20px;
    border: 2px rgb(255, 212, 61);
}

header h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    line-height: 250px;
}

nav {
    text-align: center;
    padding-top: 20px;
    background-color: white;
}

nav a {
    padding: 20px 60px;
    background-color: rgb(43, 71, 94);
    color: rgb(255, 212, 61);
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(255, 212, 61);
    color: rgb(43, 71, 94);
}

main {
        background-color: rgb(43, 71, 94);
        padding: 20px;
        margin: 5px 0;
    }
main h2 {text-align: center;
    }
main img {
    display: block;
    margin: 20px auto;
    width: 75%;
    border-radius: 20px;
}
footer {
    padding: 40px 0;
    text-align: center;
    background-color: white;
    color: rgb(43, 71, 94);
}

.imgstyle {
    border-radius: 0;
    border: 4px rgb(255, 212, 61);
    box-shadow: 5px 10px 5px;
}
.contact {
    text-align: center;
}