/* Global Syles */

body {
    background-color: #5993BD;
    font-family: 'Roboto';
    color: #111c24;
}

img {
    max-width: 100%;
    display: block;
    align-items: center;
}

a {
    color: #111c24;
    font-weight: bold;
}

a:hover {
    color: #5993BD;
    font-weight: bold;
}

/* Mobile Styles */

header {
    text-align: center;
    background-color: #f5f5f5;
    background-image: url(../images/IoT_network.png);
    background-size: cover;
    background-position:center;
    height: 240px;    
}

nav {
    background-color: #5993BD;
    text-align: center;
    padding: 5px;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
}

nav li a {
    display: inline;
    padding: 2px 5px;
    font-size: .9em;
    text-decoration: none;
    color: #111c24;
    font-weight: bold;
}

nav ul a:hover {
    color: #f5f5f5;
}

main {
    padding: 20px;
    margin: 0px;
    background: #f5f5f5;
}

h2, h4 {
    text-align: center;
}

footer {
    background-color: #111c24;
    color: #f5f5f5;
    text-align: center;
    padding: 40px 0;
}

.active {
    color: #f5f5f5;
}

.center {
    text-align: center;
}

.footer {
    color: #f5f5f5;
    font-weight: bold;
}

p {
    text-align: justify;
}

 /* Clearfix (clear floats) */
.row:after {
    content: "";
    clear: both;
    display: table;
}

.rollover {
    position: relative;
    float: left;
    width: 40%;
    padding: 15px;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5993BD;
}
  
.rollover:hover .overlay {
    opacity: 1;
}
  
.text {
    color: #f5f5f5;
    font-size: .8em;
    position: absolute;
    top: 15%;
    -webkit-transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
    text-align: left;
    list-style: none;
}

.location {
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

tr, th, td {
    text-align: left;
    padding: 4px;
}

#menu {
    display: none;
}

.slicknav_btn {
    background-color: rgb(165, 203, 242);
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {

    .slicknav_menu {
        display: none;
    }

    #menu {
        display: block;
    }
    header {
        height: 450px;    
    }
    
    main {
        font-size: 1.5em;
    }
    
    nav li a {
        display: inline;
        padding: 2px 15px;
        font-size: 1.5em;
        text-decoration: none;
        color: #111c24;
        font-weight: bold;
    }
    
    section, aside {
        padding: 10px;
        margin: 10px;
        width: 50%;
    }

    footer {
        font-size: 1.25em;
        font-weight: normal;
    }

    .rollover {
        position: relative;
        float: left;
        width: 30%;
        padding: 10px;
    }
    
    .text {
        font-size: 15px;
        top: 15%;
        left: 0%;
        -webkit-transform: translate(-10%, -10%);
        -ms-transform: translate(-10%, -10%);
        transform: translate(-10%, -10%);
    }
}

/* Desktop Styles */

@media only screen and (min-width: 1024px) {

    header {
        height: 400px;
    }
    
    nav li a {
        display: inline;
        padding: 2px 30px;
        font-size: 2.5em;
        text-decoration: none;
        color: #111c24;
        font-weight: bold;
    }

    .column {
        display: flex;
    }

    section, aside {
        padding: 10px;
        margin: 10px;
    }

    section {
        width: 50%;
        padding: 10px;
    }

    aside {
        width: 50%;
        padding: 10px;
    }

    footer {
        font-size: 1.8em;
        font-weight: normal;
    }

    .rollover {
        position: relative;
        float: left;
        width: 15%;
        padding: 10px;
    }
      
    .text {
        font-size: .6em;
        top: 20%;
        left: 0%;
        -webkit-transform: translate(-5%, -5%);
        -ms-transform: translate(-5%, -5%);
        transform: translate(-5%, -5%);
    }
}